include inc/mixin

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width")
		title Document

		link(href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet")
		link(rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon")
		link(rel="apple-touch-icon" href="img/favicon/apple-touch.png")
		link(rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-72x72.png")
		link(rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-114x114.png")

		link(rel="stylesheet" href="css/style.min.css?rev=@@hash")

	body
		.wrapper
			section.top
				.container.flex
					.login.flex
						.border__item.login__agent
							i.fa.fa-user 
							a.login__link(href="#") Agent Login
						.border__item.login__customer
							i.fa.fa-user 
							a.login__link(href="#") Customer login
						.border__item.login__register
							i.fa.fa-sticky-note-o 
							a.login__link(href="#").
								Not a Member ? Register
						.border__item.namber
							a.login__link(href="#") Call Us Now :815-123-4567

					nav.social
						a.border__item.social__link(href="#")
							i.fa.fa-facebook
						a.border__item.social__link(href="#")
							i.fa.fa-twitter
						a.border__item.social__link(href="#")
							i.fa.fa-tumblr
						a.border__item.social__link(href="#")
							i.fa.fa-pinterest


			header.header
				.nav-bar
					.container.flex
						.logo
							a.logo__link
							img.logo__img(src="img/logo.png", alt="#")

						nav.nav
							a.nav__link.nav__link-active(href="#") Home
							a.nav__link(href="#") Destinations
							a.nav__link(href="#") Criuses
							a.nav__link(href="#") Specials
							a.nav__link(href="#") Holidays
							a.nav__link(href="#") Blog

						.search
							a.search__link(href="#")
								i.fa.fa-search
					
				.slider.owl-carousel.owl-theme
					.slider__item
						.slider__caption
							h3.slider__title To travel is to live
							p.slider__text.
								You Don't Need Magic to Disappear. All you need is a destination.
							.slider__btn.slider__btn-show
								a.slider__link SHOW ON THE MAP
							.slider__btn.slider__btn-show
								a.slider__link MORE INFO
					.slider__item
						.slider__caption
							h3.slider__title To travel is to live
							p.slider__text.
								You Don't Need Magic to Disappear. All you need is a destination.
							.slider__btn.slider__btn-show
								a.slider__link SHOW ON THE MAP
							.slider__btn.slider__btn-show
								a.slider__link MORE INFO
					.slider__item
						.slider__caption
							h3.slider__title To travel is to live
							p.slider__text.
								You Don't Need Magic to Disappear. All you need is a destination.
							.slider__btn.slider__btn-show
								a.slider__link SHOW ON THE MAP
							.slider__btn.slider__btn-show
								a.slider__link MORE INFO

				section.search
					.container.flex
						.search__text
							h3.search__title.search__title-active find your
							h2.search__title holydays
							.triangle
						form.search__form(action="")
							label.search__where(for="") Where
							.search__map
								input.input__map(type="map")
								i.fa.fa-globe
							label(for="") When
							.search__date
								input.input__date(type="date" text="select date")
								i.fa.fa-calendar
						input.search__btn(type="submit" value="Search")
						


				section.offers.flex
					.offers-slider.owl-carousel.owl-theme
						.slider__block







		script(src="js/libs.min.js")
		script(src="js/common.js")
