include inc/mixin

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width")
		title Document

		link(href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet")
		link(rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon")
		link(rel="apple-touch-icon" href="img/favicon/apple-touch.png")
		link(rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-72x72.png")
		link(rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-114x114.png")

		link(rel="stylesheet" href="css/style.min.css?rev=@@hash")

	body
		.wrapper
			section.top
				.container.flex
					.login.flex
						.border__item.login__agent
							i.fa.fa-user 
							a.login__link(href="#") Agent Login
						.border__item.login__customer
							i.fa.fa-user 
							a.login__link(href="#") Customer login
						.border__item.login__register
							i.fa.fa-sticky-note-o 
							a.login__link(href="#").
								Not a Member ? Register
						.border__item.namber
							a.login__link(href="#") Call Us Now :815-123-4567

					nav.social
						a.border__item.social__link(href="#")
							i.fa.fa-facebook
						a.border__item.social__link(href="#")
							i.fa.fa-twitter
						a.border__item.social__link(href="#")
							i.fa.fa-tumblr
						a.border__item.social__link(href="#")
							i.fa.fa-pinterest


			header.header
				.nav-bar
					.container.flex
						.logo
							a.logo__link
							img.logo__img(src="img/logo.png", alt="#")

						nav.nav
							a.nav__link.nav__link-active(href="#") Home
							a.nav__link(href="#") Destinations
							a.nav__link(href="#") Criuses
							a.nav__link(href="#") Specials
							a.nav__link(href="#") Holidays
							a.nav__link(href="#") Blog

						.search
							a.search__link(href="#")
								i.fa.fa-search
					
				.slider.owl-carousel.owl-theme
					.slider__item
						.slider__caption
							h3.slider__title To travel is to live
							p.slider__text.
								You Don't Need Magic to Disappear. All you need is a destination.
							.slider__btn.slider__btn-show
								a.slider__link SHOW ON THE MAP
							.slider__btn.slider__btn-show
								a.slider__link MORE INFO
					.slider__item
						.slider__caption
							h3.slider__title To travel is to live
							p.slider__text.
								You Don't Need Magic to Disappear. All you need is a destination.
							.slider__btn.slider__btn-show
								a.slider__link SHOW ON THE MAP
							.slider__btn.slider__btn-show
								a.slider__link MORE INFO
					.slider__item
						.slider__caption
							h3.slider__title To travel is to live
							p.slider__text.
								You Don't Need Magic to Disappear. All you need is a destination.
							.slider__btn.slider__btn-show
								a.slider__link SHOW ON THE MAP
							.slider__btn.slider__btn-show
								a.slider__link MORE INFO

				section.search
					.container.flex
						.search__text
							h3.search__title.search__title-active find your
							h2.search__title holydays
							.triangle
						form.search__form(action="")
							label.search__where(for="") Where
							.search__map
								input.input__map(type="map")
								i.fa.fa-globe
							label(for="") When
							.search__date
								input.input__date(type="date" text="select date")
								i.fa.fa-calendar
						input.search__btn(type="submit" value="Search")
						


				section.offers
					h2.offers__title Special Offers
					h3.offers__title Best 2014 packages where people love to stay!
					
					.offers__list.owl-carousel
						a.offers__link(href="#")
							.offers__item
						
								img.cards__img(src="../img/cards__img-USA.png", alt="#")
								h4.cards__title Hong Kong &amp; macao
								span.cards__text Bonus Extras!
							
						a.offers__link(href="#")
							.offers__item
						
								img.cards__img(src="../img/cards_mauntain.png", alt="#")
								h4.cards__title Hong Kong &amp; macao
								span.cards__text Bonus Extras!
						
						a.offers__link(href="#")
							.offers__item
						
								img.cards__img(src="../img/cards_parish.png", alt="#")
								h4.cards__title Hong Kong &amp; macao
								span.cards__text Bonus Extras!
						
						
						a.offers__link(href="#")
							.offers__item
						
								img.cards__img(src="../img/offers_img-rim.png", alt="#")
								h4.cards__title Hong Kong &amp; macao
								span.cards__text Bonus Extras!

						a.offers__link(href="#")
							.offers__item
						
								img.cards__img(src="../img/cards__img-Hong-kong&Macau.png", alt="#")
								h4.cards__title Hong Kong &amp; macao
								span.cards__text Bonus Extras!


						a.offers__link(href="#")
							.offers__item
						
								img.cards__img(src="../img/cards_dubai.png", alt="#")
								h4.cards__title Hong Kong &amp; macao
								span.cards__text Bonus Extras!



				section.holidays
					.container
						h2.holidays__title holidays type
						h3.holidays__text get explore your dream to travel the world!
						ul.holidays__ul.flex
							li.holidays__li
								a.holidays__link(href="#")
									.border-icon
										img.holidays__icon(src="../img/icon_ship.png", alt="#")
									h4.icon__title Cruice
							li.holidays__li
								a.holidays__link(href="#")
									.border-icon
										img.holidays__icon(src="../img/icon_building.png", alt="#")
									h4.icon__title City Breaks
							li.holidays__li
								a.holidays__link(href="#")
									.border-icon
										img.holidays__icon(src="../img/icon_heart.png", alt="#")
									h4.icon__title Honeymoon
							li.holidays__li
								a.holidays__link(href="#")
									.border-icon
										img.holidays__icon(src="../img/icon_compas.png", alt="#")
									h4.icon__title Adventure
							li.holidays__li
								a.holidays__link(href="#")
									.border-icon
										img.holidays__icon(src="../img/icon_palm.png", alt="#")
									h4.icon__title Safari
							li.holidays__li
								a.holidays__link(href="#")
									.border-icon
										img.holidays__icon(src="../img/icon_cater.png", alt="#")
									h4.icon__title Beach



				section.commit
					h2.commit__title HAPPY CLIENTS
					span.commit__smil-title what customer say about us and why love our services!

					.commit__list.owl-carousel
						a.commit__link(href="#")
							.commit__item
								.commit__text
									span.clients__commit.
										Lorem Ipsum is simply dummy text of the printing and typeset industry. Lorem Ipsum has been the industry's standard dummy text ever hen an with new version look.
									.clients__name Client name
									span.name Arzybek

						a.commit__link(href="#")
							.commit__item
								.commit__text
									span.clients__commit.
										Lorem Ipsum is simply dummy text of the printing and typeset industry. Lorem Ipsum has been the industry's standard dummy text ever hen an with new version look.
									.clients__name Client name
									span.name Arzybek

						a.commit__link(href="#")
							.commit__item
								.commit__text
									span.clients__commit.
										Lorem Ipsum is simply dummy text of the printing and typeset industry. Lorem Ipsum has been the industry's standard dummy text ever hen an with new version look.
									.clients__name Client name
									span.name Arzybek


						a.commit__link(href="#")
							.commit__item
								.commit__text
									span.clients__commit.
										Lorem Ipsum is simply dummy text of the printing and typeset industry. Lorem Ipsum has been the industry's standard dummy text ever hen an with new version look.
									.clients__name Client name
									span.name Arzybek


						a.commit__link(href="#")
							.commit__item
								.commit__text
									span.clients__commit.
										Lorem Ipsum is simply dummy text of the printing and typeset industry. Lorem Ipsum has been the industry's standard dummy text ever hen an with new version look.
									.clients__name Client name
									span.name Arzybek


						a.commit__link(href="#")
							.commit__item
								.commit__text
									span.clients__commit.
										Lorem Ipsum is simply dummy text of the printing and typeset industry. Lorem Ipsum has been the industry's standard dummy text ever hen an with new version look.
									.clients__name Client name
									span.name Arzybek



				footer.footer
					.container
						.block__news
							.news__letter
							h3.news__title Newsletter
							span.news__text.
								Duis autem vel eum iriure dolor in 
								hendrerit in vulputate velit esse molestie consequat, vel illum dolore.
							form(action="")
								input.Subscribes(type="text")
								input.Subscribes__btn(type="submit" value="GO")








				






		script(src="js/libs.min.js")
		script(src="js/common.js")
