.holidays
	position: relative
	text-align: center
	padding: 50px
	background: url('../img/holidays_bg.png') center top
	background-size: cover

	.container
		position: relative
		z-index: 100

.holidays::after
	content: ''
	top: 0
	left: 0
	width: 100%
	height: 100%
	position: absolute
	// opacity: .8
	// background: #2C3E50

.holidays__text
	color: #9eafc0

.holidays__ul
	list-style: none
	margin-top: 60px

.holidays__li
	margin: 0 auto

.holidays__link
	text-decoration: none
	color: #fff

.holidays__link:hover
	.border-icon
		border: 3px solid $color_blue
	
	.icon__title
		color: $color_blue

.border-icon
	position: relative
	border: 3px solid #fff
	border-radius: 50%
	width: 120px
	height: 120px
	text-align: center

.holidays__icon
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0
	margin: auto
	background-size: cover

.holidays__link
	text-decoration: none
	list-style: none