.offers
	padding: 70px 0

.offers__title
	color: $accent_color
	text-align: center
	text-transform: uppercase

.offers__title-color
	color: #626262
	text-transform: none
	margin-bottom: 60px

.offers__item
	background: #eeeeee
	padding: 5px
	border-radius: 5px
	color: #626262

.offers__item:hover
	background: $accent_color
	padding: 0
	border: 5px solid $color_blue
	border-radius: 5px
	color: #fff
	height: 230px
	// box-sizing: border-box

.offers__link
	text-decoration: none